<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7231.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="FB648F99F713372024AB40BAA0DCC0910E231F0FC6A06BBCD575C4C5CC2CCF220B93C741B045F7B5BD812B8F30FBADE234E9E3A75CDDA5AD689B69810B918A06" decryptionKey="6D93BCCEA49A754F825951EF7AA0263380E4CB40224BA3B767651B0E233CA369" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="740AAD36ADE5CCFB5AC466935B2B7D9157AD466303CA514727AD8CE8DEDB8BA9" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="740AAD36ADE5CCFB5AC466935B2B7D9157AD466303CA514727AD8CE8DEDB8BA9" realm="http://localhost" />
	</relyingParties>
</securityConfig>